body{
    font-family: Roboto;
    margin: 0;
    border: 0;
    padding: 0;
}

input{
    background-color: #bae5fddd;
    border: none;
    border-radius: 25px;
    width: 40vw;
    height: 25px;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
}



.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

h3 {
    font-weight: bolder;
    color: #07283f;
    text-shadow: 2px 2px 10px #07283f6d;
    margin-left: 25px;
}

h2 {
    color: #07283f;
    margin-top: -15px;  
}

p {
    color: #07283f;
}

button {
    font-size: 14px;
    font-weight: bold;
    background-color: #326be7;
    color: #e0f2fe;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 87px;
    margin: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #38bff8e3;
    min-height: 162px;
}

.head-left {
    display: flex;
    margin-left: 2.5vw;

}

.header-icon{
    color: #082f49;
}
.searchbar {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 2.5vw;
}

.profilepic {
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
}

.bhead-left .profilepic{
    width: 75px;
    height: 75px;  
    margin-left: 4vw;
    margin-right: 2vw;

}

.bhead-left {
    display: flex;
    align-items: center;
}

.bhead-right {
   display: flex;
   align-items: center;
   margin-right: 3vw;
}

.profilepic img {
    width: 100%;
}

.sidebar {
    font-size: large;
    font-weight: bold;
    color: #f0f9ff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr repeat(10, 1fr);
    grid-row: 1 / last;
    grid-column: 1 / 1;
    background-color: #082f49;
    padding: 0px 25px 40vh 25px;
}

.sidebar .icons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
}

.sidebar .sidebaropt {
    display: flex;
    justify-content: start;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    background-color: #e0f2fe;
    padding: 0px 50px 50px 50px;
    box-shadow: 0px 6px 5px -4px #07283f6d inset;
}

.projects {
    display: grid;
    grid-row: 1 / span2;
    grid-column: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    gap: 35px;
    grid-auto-flow: column;
}

.content-header {
    grid-column: 1 / span2;
    margin-left: 20px;
    color: #07283fd0;
    display: flex;
    align-items: end;
    margin-bottom: -30px;
}

.content-bubble {
    background-color: white;
    border-radius: 7.5px;
    border-left: orange solid 10px;
}

.content-bubble p{
    color: gray;
    margin: 5px 25px 0px 25px;
}

.content-bubble h3{
    text-shadow: none;
    margin: 40px 0px 0px 25px;
}

.content-icons {
    color: #07283fd4;
    display: flex;
    justify-content: end;
    margin-top: 55px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.content-bubble i {
    font-size: 32px;
    margin-right: 10px;
}

.announcement-container {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr 6fr;
    margin-top: 52px;
    margin-right: 50px;
    margin-bottom: 20px;
    color: #07283fd4;
    gap: 15px;
}

.content-announcements {
    margin-bottom: -10px;
}

.announcement-bubble, .trending-bubble {
    background-color: white;
    border-radius: 10px;
}

.announcement-bubble {
    grid-row: 2 / 2;
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.opt{
    border-bottom: #07283fcb solid 1px;
}

.opt p, .opt2 p {
    margin-top: -3px;
    padding: 5px;
    color: gray;
}

.announcement-bubble h3{
    text-shadow: none;
    margin: 0px;
    padding: 5px;
}

#dashboard {
    font-size: 38px;
}

#notification, #search {
    font-size: 38px;
    vertical-align: bottom;
    margin-right: 1.5vw;
}

#line-one{
    display: flex;
    height: 50%;  
    align-items: center;
    justify-content: space-between;
}

#line-two{
    display: flex;
    height: 50%; 
    justify-content: space-between;
}






