body{
    font-family: Roboto;
    margin: 0;
    border: 0;
    padding: 0;
}

input{
    background-color: #bae5fddd;
    border: none;
    border-radius: 25px;
    width: 40vw;
    height: 25px;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
}



.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

h3 {
    font-weight: bolder;
    color: #07283f;
    text-shadow: 2px 2px 10px #07283f6d;
    margin-left: 25px;
}

h2 {
    color: #07283f;
    margin-top: -15px;  
}

p {
    color: #07283f;
}

button {
    font-size: 14px;
    font-weight: bold;
    background-color: #326be7;
    color: #e0f2fe;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 87px;
    margin: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #38bff8e3;
    min-height: 162px;
}

.head-left {
    display: flex;
    margin-left: 2.5vw;

}

.header-icon{
    color: #082f49;
}
.searchbar {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 2.5vw;
}

.profilepic {
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
}

.bhead-left .profilepic{
    width: 75px;
    height: 75px;  
    margin-left: 4vw;
    margin-right: 2vw;

}

.bhead-left {
    display: flex;
}

.bhead-right {
   display: flex;
   align-items: center;
   margin-right: 3vw;
}

.profilepic img {
    width: 100%;
}

.sidebar {
    font-size: large;
    font-weight: bold;
    color: #f0f9ff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr repeat(10, 1fr);
    justify-items: start;
    align-items: center;
    grid-row: 1 / last;
    grid-column: 1 / 1;
    background-color: #082f49;
    padding: 0px 5vw 40vh 5vw;
}

.content {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    background-color: #e0f2fe;
}



#dashboard {
    font-size: 38px;
}

#notification, #search {
    font-size: 38px;
    vertical-align: bottom;
}

#line-one{
    display: flex;
    height: 50%;  
    align-items: center;
    justify-content: space-between;
}

#line-two{
    display: flex;
    height: 50%; 
    justify-content: space-between;
}






